{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <!-- Nạp file CSS tĩnh từ thư mục static -->
    <link rel="stylesheet" href="{% static 'myfirst.css' %}" />

    <!-- Icon FontAwesome cho biểu tượng ngôi nhà -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper style1">
      <div class="inner">
        <section class="container box feature1">
          <div class="row">
            <a href="/"><i style="font-size: 30px" class="fas fa-home"></i></a>
          </div>
          <h1>ĐĂNG NHẬP TÀI KHOẢN</h1>

          <form action="/login/" method="POST" class="box">
            {% csrf_token %} {% for key, value in form.errors.items %}
            <p style="color: red">{{ value }}</p>
            {% endfor %}

            <div class="form-input">
              <label for="username">Username:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
              />
            </div>

            <div class="form-input">
              <label for="password">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>

            <input type="hidden" name="next" value="/" />
            <input type="submit" value="ĐĂNG NHẬP" />
            <br /><br />
            <span>Or <a href="/register/">Đăng Ký</a></span>
          </form>
        </section>
      </div>
    </div>
  </body>
</html>
