{% load static %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}" />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="topnav">
      <a href="/">HOME</a> | <a href="/planets/">MEMBERS</a> |
      <a href="{% url 'post_list' %}">BÀI VIẾT</a>
      | {% if user.is_authenticated %}
      <a href="/add_blogs/">ĐĂNG BÀI</a> | {% if user.is_superuser %}
      <span>Xin chào, <strong>Admin</strong></span> | {% else %}
      <span>Xin chào, <strong>{{ user.username }}</strong></span> | {% endif %}
      <a href="/logout/">ĐĂNG XUẤT</a>
      {% else %}
      <a href="/login/">ĐĂNG NHẬP</a> |
      <a href="{% url 'register' %}">ĐĂNG KÝ</a>
      {% endif %}
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
