{% extends "master.html" %} {% block title %}Đăng Ký Tài Khoản{% endblock %}
{%block content %}
<form method="POST">
  {% csrf_token %}
  <h1>ĐĂNG KÝ TÀI KHOẢN</h1>

  <label for="id_username">Username:</label>
  <input
    type="text"
    name="username"
    id="id_username"
    required
    placeholder="Nhập tên đăng nhập"
  />

  <label for="id_password1">Password:</label>
  <input
    type="password"
    name="password1"
    id="id_password1"
    required
    placeholder="Nhập mật khẩu"
  />

  <label for="id_password2">Confirm Password:</label>
  <input
    type="password"
    name="password2"
    id="id_password2"
    required
    placeholder="Nhập lại mật khẩu"
  />

  <button type="submit">ĐĂNG KÝ</button>

  <p>Đã có tài khoản? <a href="/login/">Đăng nhập</a></p>
</form>
{% endblock %}
